movies and office/**
node_modules/**
torrents/**

*.log
*.bak

package-lock.json
torrents.txt
next.txt
download.txt
torrent.log
bun.lock

torrent_client_js.sublime-project
torrent_client_js.sublime-workspace
